.header{
   height: 80px;
   /* width: 100%;  */
   background-color: #1C2B35;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-left: 100px;
   padding-right: 100px;
}
nav.header a{
  text-decoration: none;
  color: white;
  margin-left: 30px;
}
nav.header a:hover{
    color: orange;
}
.header img{
    height: 80px;
}
.text-color{
  color: white;
  padding: 5px;
  margin: 20px 20px;
}
.singout_btn{
  margin-left: 30px;
  background-color: #1C2B35;
}